extends ./layout.jade

block content
  .container
    br
    .jumbotron
      h1 Hey!
      p Check out my 
        a(href='/clogs') CLOGS
        | !!!

block scripts
  script(src='js/index/main.js')
