doctype html
html(lang="en")
  head
    title= title
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel='stylesheet')
    link(href="bower_components/sweetalert/dist/sweetalert.css", rel='stylesheet')
    link(href="css/style.css", rel='stylesheet')

  body
    block content
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/sweetalert/dist/sweetalert.min.js')
    block scripts

